version: 2.1

commands:

  destroy_enviroment:
    steps:
    - run:
        name: Destroy enviroment
        when: on_fail
        command: |
          aws cloudformation delete-stack --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:7}

jobs:

  configure_infrastructure:
    docker:
      - image: python:3.10.5-alpine3.16
    steps: 
      - checkout
      - add_ssh_keys:
          fingerprints: ["a5:b6:c4:96:c4:2c:31:e8:dc:34:4e:83:54:6b:50:73"]
      
      - run:
          name: install openssh
          command: |
            apk add --update openssh-server

      - run:
          name: Install Ansible
          command: | 
            apk add --update ansible

      - run:
          name: Run playbook and configure server
          command: |
            ansible-playbook -i inventory.txt main.yml
        
  create_infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: Create cloudformation stack
          command: |
            aws cloudformation create-stack \
            --template-body file://cloudformation/template.yml \
            --stack-name testStack-${CIRCLE_WORKFLOW_ID:0:7} \
            --region us-east-1

  smoke_test:
    docker: 
      - image: amazon/aws-cli
    steps:
      # - run: apk add --update curl
      - run:
          name: test job
          command: return 1
          # command: |
          #   URL="https://blog.udacity.com/"
          #   if curl -s --head ${URL}
          #   then
          #     return 0
          #   else
          #     return 1
          #   fi
      - destroy_enviroment

workflows:

  my_workflow:
    jobs:
      - create_infrastructure
      - smoke_test